<script type="text/javascript">
$(document).ready(function(){

  var count = 0;

  $("#af").click(function(){
    if (count == 0) {
      $(".wrap").animate({top: -110}, 425);
      $('.cp').animate({bottom: 200}, 425);
      //$("#footer-arrow").attr('transform', 'translate(0 0) rotate(180)');
      //$("#footer-arrow").animate({svgTransform: 'translate(0 0) rotate(180)'});
      count = 1;
    }
    else if (count == 1) {
      $(".wrap").animate({top: 0}, 425);
      $('.cp').animate({bottom: 0}, 425);
      //$("#footer-arrow").attr('transform', 'translate(0 0) rotate(180)');
      //$("#footer-arrow").animate({svgTransform: 'translate(0 0) rotate(180)'});
      count = 0;
    }
  });

});
</script>
<div class="cp">
  <div class="map-background" id="map"></div>
  <div class="black"></div>
  <div class="container-fluid">
    <div class="info-container">
      <h1>¡Conoce nuestras instalaciones!</h1>
      <h3 id="street">Cto. Circunvalación Poniente No. 4-B Cd. Satélite, Naucalpan, 53100, Edo. México.</h3>
      <h3>Teléfono 1: 5555620794</h3>
      <h3>Teléfono 2: 5555721472</h3>
    </div>
  </div>
  <img src="/assets/img/arrow-white.svg" alt="arrow" id="af">
</div>
