<script type="text/javascript">
$(document).ready(function(){

  var count = 0;

  $("#arrow").click(function(){
    if (count == 0) {
      $(".wrap").animate({top: -110}, 425);
      $('.up').animate({bottom: 200}, 425);
      $("#arrow").rotate({
            angle: 0,
            animateTo:180});
      count = 1;
    }
    else if (count == 1) {
      $(".wrap").animate({top: 0}, 425);
      $('.up').animate({bottom: 0}, 425);
      $("#arrow").rotate({
            angle: 180,
            animateTo:0});
      count = 0;
    }
  });

});
</script>
<div class="up">
  <div class="bgu"></div>
  <div class="white"></div>
  <div class="container-fluid">
    <h1>Nuestro Objetivo</h1>
    <h3>En Academia KS buscamos darte las herramientas necesarias para que puedas profesionalizarte e impulsar tu carrera hacia donde tu quieras. Contamos con expertos 100% calificados para guiarte y resolver todas tus dudas durante el curso.</h3>
    <h3>¡Todos nuestros cursos están validados por la Secretaría del Trabajo y al final recibirás un certificado totalmente válido para cualquier institución!</h3>
    <img src="/assets/img/arrow-white.svg" alt="arrow" id="arrow" class="normal">
  </div>
</div>
