html
  margin: 0
  padding: 0
  
.background
  background:
    image: url('/assets/img/header.png')
    position: center
    size: cover
    repeat: no-repeat
  min-width: 100%
  min-height: 178px
  max-height: 178px
  float: left
