.page-container
  position: absolute
  box-shadow: 25px 20px 5px #20211F

  .background-image
    width: 100vw
    height: 100vh
    background:
      image: url('/assets/img/classroom.jpg')
      position: center
      size: cover
      repeat: no-repeat

    .white
      background-color: white
      position: absolute
      width: 100vw
      height: 100vh
      opacity: 0.3
      z-index: 1

    h1
      position: relative
      text-align: center
      margin-top: 180px
      font-size: 70px
      font-weight: bold
      color: black
      z-index: 15

    h3
      position: relative
      text-align: center
      margin-top: 40px
      font-size: 40px
      color: black
      z-index: 15

  #footer-arrow
    position: absolute
    width: 10%
    height: 10%
    bottom: 40px
    right: 40px
    z-index: 20
