.up
  position: absolute
  box-shadow: 25px 20px 5px #20211F
  height: 100vh
  width: 100vw

  .bgu
    background:
      image: url('/assets/img/RCSS.jpg')
      position: center
      size: cover
      repeat: no-repeat
    height: 100vh
    width: 100vw
    position: absolute

  .white
    background-color: white
    position: absolute
    width: 100vw
    height: 100vh
    opacity: 0.3
    z-index: 1

  h1
    position: relative
    margin-left: 40px
    margin-top: 180px
    font-size: 60px
    font-weight: bold
    color: black
    z-index: 15
    word-wrap: break-word

  h3
    position: relative
    text-align: center
    margin-top: 50px
    font-size: 30px
    color: black
    z-index: 15
    word-wrap: break-word
    font-weight: 250

#arrow
  position: absolute
  width: 10%
  height: 10%
  bottom: 40px
  right: 40px
  z-index: 20
